
a{color:inherit;}
:root{
  --title-text-color:#212121;
  --primary-text-color:#757575;
  --accent-color:#2196F3;
  --primary-bg-color:#F5F4FA;
}

body {
color:var(--primary-text-color)
}

pre {
  font-family: 'Arial', 'Helvetica', sans-serif;
  color: #2a2a2a;
  font-size: 16px;
}

pre::first-letter {
  font-family: 'Tahoma', serif;
  font-size: 32px;
  color: #f44336;
}
pre::selection {
  color: #ffffff;
  background-color:salmon;
}